#                     ________.______________
#                    /  _____/|   \__    ___/
#                   /   \  ___|   | |    |
#                   \    \_\  \   | |    |
#                    \______  /___| |____|
#                           \/

alias ga='git add'
alias gaa='git add .'
alias gap='git add -p'
alias gb='git branch'
alias gcom='git checkout master'

alias gcod='git checkout develop'
alias gcob='git checkout -b'
alias gc='git commit'
alias gptg='git push --tags'
alias gtags='git tag -n99'

alias gpo='git push origin'
alias gpom='git push origin master'
alias gpod='git push origin develop'
alias gd='git diff'
alias gs='git status'

alias glog='git log'
alias gunstage='git reset HEAD -- .'
alias gsave='git add -A && git commit -m "SAVEPOINT"'
alias ggraph='git log --graph --oneline --decorate --all'
alias gco='git checkout'

alias gitremotes="git remote update origin --prune; git branch -r"
alias githead="git show HEAD"
alias githead1="git show HEAD~1"
alias githead2="git show HEAD~2"


#              .____    .___ _______   ____ _______  ___
#              |    |   |   |\      \ |    |   \   \/  /
#              |    |   |   |/   |   \|    |   /\     /
#              |    |___|   /    |    \    |  / /     \
#              |_______ \___\____|__  /______/ /___/\  \
#                      \/           \/               \_/

alias la='ls -alhF'
alias al='ls -alhF'
alias lt='ls -alhtF'
alias vi='vim'
alias vimrc='$EDITOR ~/.vimrc'

alias sv='source ~/.vimrc'
alias zshrc='$EDITOR ~/.zshrc'
alias sz='source ~/.zshrc'
alias k9='kill -9'
alias code='cd ~/Code'

alias mkd='mkdir'
alias updateos='sudo apt update && sudo apt upgrade && sudo apt autoclean && sudo apt autoremove'
alias open='gnome-open'
alias ping='ping -c 5'
alias openmakeys='keepassx ~/Dropbox/passwordList.kdbx'

alias aptinstall='sudo apt-get install'
alias nitro_status='gpg --card-status'
alias nitro_pin='gpg --change-pin'
alias nitro_edit='gpg --card-edit'
alias tlf='tail -f'

alias path="echo $PATH | tr -s ':' '\n'"


#        __________    _____  .___.____       _________
#        \______   \  /  _  \ |   |    |     /   _____/
#         |       _/ /  /_\  \|   |    |     \_____  \
#         |    |   \/    |    \   |    |___  /        \
#         |____|_  /\____|__  /___|_______ \/_______  /
#                \/         \/            \/        \/
#           __________ ____ __________________.___.
#           \______   \    |   \______   \__  |   |
#            |       _/    |   /|    |  _//   |   |
#            |    |   \    |  / |    |   \\____   |
#            |____|_  /______/  |______  // ______|
#                   \/                 \/ \/

alias  rrs='rails server'
alias  rrc='rails console'
alias  rrg='rails generate'
alias rrgc='rails generate controller'
alias rrgm='rails generate model'

alias rv='ruby --version'


#  ____   _________    __________________    _____    __________________
#  \   \ /   /  _  \  /  _____/\______   \  /  _  \   \      \__    ___/
#   \   Y   /  /_\  \/   \  ___ |       _/ /  /_\  \  /   |   \|    |
#    \     /    |    \    \_\  \|    |   \/    |    \/    |    \    |
#     \___/\____|__  /\______  /|____|_  /\____|__  /\____|__  /____|
#                  \/        \/        \/         \/         \/

alias    vinit='vagrant init'
alias      vup='vagrant up'
alias     vssh='vagrant ssh'
alias    vhalt='vagrant halt'
alias vdestroy='vagrant destroy'

alias  vstatus='vagrant status'
alias       vp='vagrant provision'
alias       vr='vagrant reload'


#                 _______ __________  _____
#                 \      \\______   \/     \
#                 /   |   \|     ___/  \ /  \
#                /    |    \    |  /    Y    \
#                \____|__  /____|  \____|__  /
#                        \/                \/

alias ninst='npm install'
alias nup='npm start'
alias nv='npm -v'

