#                     ________.______________
#                    /  _____/|   \__    ___/
#                   /   \  ___|   | |    |
#                   \    \_\  \   | |    |
#                    \______  /___| |____|
#                           \/

alias ga='git add'
alias gaa='git add .'
alias gap='git add -p'
alias gb='git branch'
alias gcom='git checkout master'

alias gcod='git checkout develop'
alias gc='git commit'
alias gptg='git push --tags'
alias gtags='git tag -n99'

alias gpo='git push origin'
alias gpom='git push origin master'
alias gpod='git push origin develop'
alias gd='git diff'
alias gs='git status'

alias glog='git log'
alias gunstage='git reset HEAD -- .'
alias gsave='git add -A && git commit -m "SAVEPOINT"'
alias ggraph='git log --graph --oneline --decorate --all'
alias gco='git checkout'

alias gitremotes="git remote update origin --prune; git branch -r"
alias githead="git show HEAD"
alias githead1="git show HEAD~1"
alias githead2="git show HEAD~2"


#              .____    .___ _______   ____ _______  ___
#              |    |   |   |\      \ |    |   \   \/  /
#              |    |   |   |/   |   \|    |   /\     /
#              |    |___|   /    |    \    |  / /     \
#              |_______ \___\____|__  /______/ /___/\  \
#                      \/           \/               \_/

alias la='ls -alhF'
alias al='ls -alhF'
alias vi='vim'
alias vimrc='$EDITOR ~/.vimrc'
alias svimrc='source ~/.vimrc'

alias zshrc='$EDITOR ~/.zshrc'
alias szshrc='source ~/.zshrc'
alias tlf='tail -f'
alias mkd='mkdir'
alias updateos='sudo apt update && sudo apt upgrade && sudo apt autoclean && sudo apt autoremove'

alias open='f(){ nohup gnome-open "$1" &>/dev/null; unset -f f }; f'
alias ping='ping -c 5'
alias aptinstall='sudo apt-get install'
alias path="echo $PATH | tr -s ':' '\n'"

#            ________________   ____ _______  ___
#            \__    ___/     \ |    |   \   \/  /
#              |    | /  \ /  \|    |   /\     /
#              |    |/    Y    \    |  / /     \
#              |____|\____|__  /______/ /___/\  \
#                            \/               \_/

alias muxls='tmux -2 ls'
alias muxkill='tmux -2 kill-session'
alias tmux='tmux -2'
